meta(charset="UTF-8")
meta(name="viewport" content="width=device-width")
meta(name="format-detection" content="telephone=no")
meta(name="theme-color" content="#999999")
link(rel="apple-touch-icon" sizes="180x180" href="/images/webclip.png")
link(rel="icon" sizes="180x180" href="/images/webclip.png")
link(rel="icon" type="image/png" sizes="64x64" href="/common/images/favicon-64x64.png")
link(rel="icon" type="image/png" sizes="32x32" href="/common/images/favicon-32x32.png")

meta(name="description", content=disc)
if title && title != ''
	title=title
else
	title=SITE_NAME
meta(property="og:site_name", content=SITE_NAME)
if title && title != ''
	meta(property="og:title", content=title)
else
	meta(property="og:title", content=SITE_NAME)
if ogimage && ogimage != ''
	meta(property="og:image", content=ogimage)
if disc && disc != ''
	meta(property="og:description", content=disc)
meta(property="og:url", content=DOMAIN + url)
meta(property="og:type", content="website")

link(rel="stylesheet" href="/css/common.css")
